body {
    color: white;
    background-color: black;
}
ul{
   display: flex; /*Alinhamento horizontal*/
    justify-content: space-between; /*espaçamento entre os itens*/
    list-style-type: none;
}